.container{
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90% !important;
  height: 90%;
}

.close-button{
  padding: 5px;
  cursor: pointer;
  position: absolute;
  top:0px;
  right:0px;
}
.close-button:hover{
  color: red;
}

.body{
  height:100%;
  width: 100%;
}

.tabs-header{
  width: 100%;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.tab-btn{
  display: inline-block;
  padding: 0.3em;
  cursor: pointer;
}

.tab-btn.active{
  filter: brightness(150%);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.tab-btn:hover{
  filter: brightness(150%);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.select-building-btn {
  background-color: rgba(50, 50, 50, 0.9);
  cursor: pointer;
  padding: 3px;
}

.select-building-btn:hover {
  filter: brightness(150%);
}

.select-building-btn.selected {
  filter: brightness(150%);
}
.building-type-resource {
  font-size: 10px;
}
