<div class='container'>
  <h3>Tareas asincronas en cola</h3>
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Tipo</th>
        <th>Tiempo restante</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks">
        <td>{{ task.id }}</td>
        <td>{{ task.type }}</td>
        <td>{{ task.remainingTime }}</td>
      </tr>
    </tbody>
  </table>
  <hr>
  <h3>Conexiones por websocket</h3>
  <table>
    <thead>
      <tr>
        <th>Civilizacion</th>
        <th>Conexiones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let connection of connections">
        <td>{{ connection.civilization }}</td>
        <td><div *ngFor="let id of connection.socketIds">{{ id }}</div></td>
      </tr>
    </tbody>
  </table>
</div>
