<div class='planet'>
  <div class="image-container" (click)="selectPlanet()" >
    <app-planet-miniature-renderer [planet]="planet"></app-planet-miniature-renderer>
  </div>
  <div class="right-container">
    <div class="info-container">
      <div>{{ this.planet.name }}</div>
      <div>{{ planetType }} {{ planetSize | lowercase }}</div>
    </div>
    <div class="buttons-container">
      <button class='btn right' *ngIf="isColonizable()" (click)="colonize()">{{ ts.strings.colonize }}</button>
      <button class='btn right' *ngIf="planet.colony" (click)="selectColony()">{{ ts.strings.viewColony }}</button>
    </div>
  </div>
</div>
