<div class="container">
  <div class="planet-info">
    <div class="image-container">
      <canvas #canvas id="planets-canvas"></canvas>
      <app-planet-miniature-renderer [planet]="planet"></app-planet-miniature-renderer>
    </div>
    <div class="planet-details">
      <div>{{ this.planet.name }}</div>
      <div>{{ planetType }} {{ planetSize | lowercase }}</div>
      <div *ngIf="planet.colony">{{ ts.strings.civilization }}: {{ planet.colony.civilization.name }}</div>
      <div *ngIf="!planet.colony">{{ ts.strings.notColonized }}</div>
      <div class='link' (click)="clickStarSystem()">{{ ts.strings.starSystem }}: {{ starSystemName }}</div>
    </div>
  </div>
</div>
