
.ng-valid[required]  {
  border-left: 5px solid #42A948 !important;
}

.ng-invalid.ng-dirty:not(form)  {
  border-left: 5px solid #a94442 !important;
}
.container{
  position: absolute;
  top: 10%;
  left: 70%;
  width: 30%;
  background-color: rgba(50, 50, 50, 0.85);
}
h1{
    text-align: center;
}
