<div class="gv-panel">
  <div class="header">
    <h1 class="title">Panel title</h1>
  </div>
  <div class="body">
    <div class="gv-input">
      <label for="name">Name</label>
      <input type="text">
    </div>
    <div class="divider"></div>
    <div class="gv-input">
      <label for="email">Email</label>
      <input type="text">
      <span class="help">Texto de ayuda!</span>
    </div>
    <div class="divider"></div>
    <div class="gv-input">
      <label for="email">Email</label>
      <input type="text">
      <span class="error">[ You have a validation error ]</span>
    </div>
    <div class="divider"></div>
    <div>
      <button class="btn">Enviar</button>
      <button class="btn red">Eliminar</button>
    </div>
    <div class="divider"></div>
    <div>
      <button class="btn" disabled>Enviar</button>
      <button class="btn red" disabled>Eliminar</button>
    </div>

  </div>
  <div class="footer">
    Some text
  </div>
</div>
